

.header_wrapper{
    width: 100%;
    height: 90px;
    display: flex;
    column-gap: 359px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    
}

.header_nav_list {
    display: flex;
    justify-content: start;
    align-items:center ;
    column-gap: 32px;

}

.header_nav-items {
    
}

.header_nav_link {
    color: var(--co-black);
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    width: 60px;
    height: 24px;
}